@font-face {
	font-family: 'NotethisRegular';
	src: url('fonts/Note_this-webfont.eot');
	src: local('☺'), url('fonts/Note_this-webfont.woff') format('woff'), url('fonts/Note_this-webfont.ttf') format('truetype'), url('fonts/Note_this-webfont.svg#webfontt4GTeQZi') format('svg');
	font-weight: normal;
	font-style: normal;
}
